<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <a class="navbar-brand" href="index.php">Library DB</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

      <form class="d-flex my-auto mx-2" action="resultsPage.php" method="get">
        <input class="form-control" type="search" placeholder="Search by ISBN" aria-label="Search" name="isbn">
        <input type="hidden" name="table" value="books">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="navbar-nav">
        <a class="nav-link btn btn-light mx-2" href="createItem.php">Create item</a>
        <a class="nav-link btn btn-light" href="search_isbn.php">Advanced search</a>
        <a class="nav-link btn btn-light" href="view_loaned_books.php">View books on loan</a>
        <a class="nav-link btn btn-light" href="view_overdue_books.php">View overdue books</a>
      </div>

    </div>

  </div>
</nav>
